body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.section_top {
  width: 100%;
  height: 90%;
  overflow: hidden;
  background-image: url("skulpturer/background.png");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: change 20s infinite ease-in-out;
}
@keyframes change {
  0% {
    background-image: url(skulpturer/background.png);
  }
  20% {
    background-image: url(skulpturer/background2.jpg);
  }
  40% {
    background-image: url(skulpturer/background3.png);
  }
  60% {
    background-image: url(skulpturer/background4.png);
  }
  80% {
    background-image: url(skulpturer/background5.png);
  }
}
#bjarne_box {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80%;
  padding: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

#bjarne_box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2em;
}

/* Om Mig siden mobilversion */
nav > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin: 0 50px 0px 0;
  text-decoration: none;
  font-size: 1vh;
}
#logo {
  width: 10vh;
}

.om_mig {
  display: flex;
  justify-content: center;
  align-items: center;
}

.om_mig img {
  display: flex;
  justify-content: space-around;
  margin: 20px 20px 0px 20px;
  margin-top: 5px;
}
.bjarnebillede {
  display: grid;
  grid-template-columns: 1fr;
}
.bjarnebillede img {
  width: 50%;
  margin: 2em 0em 2em 7em;
}
.bjarnebillede p {
  display: flex;
  justify-content: left;
  margin: 10px 20px 50px 20px;
  font-size: 3vw;
}

.havebilleder {
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  background-image: url("havebilleder/baal_i_haven.JPG");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  animation-iteration-count: infinite;
  /* transition: opacity 0.5s ease-in-out; */
  animation-duration: 20s;
  animation-name: change2;
}
@keyframes change2 {
  0% {
    background-image: url(havebilleder/baal_i_haven.JPG);
  }
  20% {
    background-image: url(havebilleder/frost.jpg);
  }
  40% {
    background-image: url(havebilleder/pige_under_træ.JPG);
  }
  60% {
    background-image: url(havebilleder/bi.JPG);
  }
  80% {
    background-image: url(havebilleder/stort_havebillede.jpg);
  }
}

.farve {
  background-color: #3b4249;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 30vh;
  display: flex;
}
.om_migh2 {
  font-family: "";
  position: absolute;
  font-size: 2vw;
  top: 130%;
  left: 11%;
}

/* Om mig siden Website */

@media (min-width: 800px) {
  nav > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 10px 0 0 0;
    text-decoration: none;
    font-size: 2vh;
  }
  #logo {
    width: 30vh;
  }
  .om_mig {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .om_mig img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }

  .bjarnebillede {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .bjarnebillede img {
    width: 80%;
    margin: 6em 0em 6em 10em;
  }

  .bjarnebillede p {
    display: flex;
    justify-content: left;
    margin: auto;
    width: 80%;
    font-size: 1.3vw;
  }

  .havebilleder {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    background-image: url("havebilleder/baal_i_haven.JPG");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    animation-iteration-count: infinite;
    /* transition: opacity 0.5s ease-in-out; */
    animation-duration: 20s;
    animation-name: change2;
  }
  @keyframes change2 {
    0% {
      background-image: url(havebilleder/baal_i_haven.JPG);
    }
    20% {
      background-image: url(havebilleder/frost.jpg);
    }
    40% {
      background-image: url(havebilleder/pige_under_træ.JPG);
    }
    60% {
      background-image: url(havebilleder/bi.JPG);
    }
    80% {
      background-image: url(havebilleder/stort_havebillede.jpg);
    }
  }

  .farve {
    background-color: #3b4249;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 90vh;
    display: flex;
  }

  .om_migh2 {
    font-family: "";
    position: absolute;
    font-size: 1vw;
    top: 206%;
    left: 12%;
    color: white;
  }

  .footer_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
  }
}
