nav > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
/* WHATEVER TESTING BRANCHES*/
a:link {
  color: #4d4b4b;
  text-decoration: none;
  
}
a:visited {
  color: #4d4b4b;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 15px;
}
a:active {
  color: rgb(2, 2, 2);
  text-decoration: none;
  
}


li{
  margin-top: 2em;
 
}
.footer_div {
  background-color: #ebebeb;
}

footer h2 {
  font-size: 2vh;
  font-family: "Hind-SemiBold.ttf";
  color: #676767;
}
footer h1 {
  font-size: 2.5vh;
  font-family: "Hind-SemiBold.ttf";
  color: #676767;
}
footer p {
  font-family: "Hind-Light.ttf";
  color: #676767;
}

@font-face {
  font-family: "Hind-SemiBold.ttf";
  src: url(Hind/Hind-SemiBold.ttf);
}
@font-face {
  font-family: "Hind-Light.ttf";
  src: url(Hind/Hind-Light.ttf);
}

@font-face {
  font-family: "Raleway-SemiBold.ttf";
  src: url(Raleway/static/Raleway-SemiBold.ttf);
}

/* Forside */
#bjarne_box {
  background-color: #3b4249;
}
#bjarne_box h1 {
  color: white;
}

/* om mig */

.om_mig h1 {
  font-family: "Raleway-Semibold";
}

/* produkt */
#produkt_div {
  background-color: #3b4249;
}
#produkt_beskrivelse h1 {
  font-family: "Raleway-SemiBold.ttf";
  color: #676767;
}
#produkt_beskrivelse p {
  font-family: "Hind-Light.ttf";
  color: #676767;
}
